@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #F1E9E4;
height:100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftMeta{
  background-color: #ED6A5E;
  /* width:35%; */
  height:inherit;
  display:flex ;
  padding:10px;
  border-radius: 10px;
  justify-content: center;
  
  
}

.leftMeta form input{
  font-size:.7em;
  
}

#pagewrap{
 display:flex ;
 width:80%;
 margin-top:35%;
 margin-left: auto;
 margin-bottom: 8% ;
 margin-right: auto;
flex-direction:column;
 justify-content: center;
 
}
.message{
  border: 2px solid #ED6A5E;
  border-radius:10px;
  background-color:#DCF9F0;
  margin-bottom:5%;
  font-family: 'Anton', sans-serif;
  display:flex ;
  flex-direction:column;
 justify-content: center;
}
.message a{
  text-decoration:none;
}
.messageShow{
  border: 2px solid #ED6A5E;
  border-radius:10px;
  background-color:#DCF9F0;
    font-family: 'Anton', sans-serif;
  width:50%;
  margin: 30% 10% 13% 30%;
  overflow: hidden;
  padding: 3px;
}

.messageShow form input{ 
  width:80%;
  text-align: center;
  margin-left:10%;
  
}

.user{
  border: 1px outset salmon;
  margin: 0 auto;
  display: block;
  max-width:100%;
  max-height:350px;
border-radius:30px;

}
.whoru{
  font-size:.9em;
  display:block;
  width:50%;
  margin: 1% auto 0% 5%;
}
.aboutme{
  font-size:.97em;
  width:50%;
  display:block;
  margin: 1% auto 0% auto;
}
.messageBox{
  /* border: 1px solid #ED6A5E; */
  font-size:1.3em;
  font-weight:900;
  margin: 1% auto 0% auto;
  width:93%;
  padding:3%;
  border-radius:10px;
  
}
.messageBox link{
  text-decoration:none;
}
.nav{
  position:fixed;
  background-color: salmon;
  width:100%;
  margin:0% 0% 0% 0% ;
  top: 0;
  padding:1% 1% 0% 1%;
  color:#204642;
  font-family: 'Fredoka One', cursive;
  font-size:1em;
  line-height:.5em;
  height:inherit;
}
.nav a{
  text-decoration:none;
  color:#377771;
  margin:0%;
}
.nav a:hover{
  color:#204642;
}

footer{
  position:fixed;
  background-color: salmon;
  width:100%;
  margin:0% ;
  bottom: 0;
  font-size:.7em;
  padding:.5%;
  color:#204642;
}

.messageInp{
  width:92%;
  position:relative;
  padding: 2%;
  /* display:inline-block; */
  margin:.5%;
  border-radius: 50px;
  
}

.messageInp form input{
  font-size:.7em;
  width:90%;
}

.imageInp{
  border-radius: 50px;  
  width:45%;
  padding:1%;
  margin:.5%;
}
.nameInp{
  width:43%;
  padding:2%;
  border-radius: 50px;
  margin:.5%;
}
.aboutInp{
  width:43%;
  padding:2%;
  border-radius: 50px;
  margin:.5%;
}
.urlInp {
  width:43%;
  padding:2%;
  border-radius: 50px;
  margin:.5%;
}
.outgoing{
  display:block;
  text-align:center;
  margin-bottom:3%
}
.subInp{
  padding:2%;
  color:#4CE0B3;
  display:block;
  margin-left:20%;
  border-radius:3px;
  background-color:#377771;
  margin:.5% auto 2% 40%;
}
#modalis{
  display:none;
  width:40%;
 position:absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color:#ffffff;
  border: 4px dashed red;
  padding:10px;
}


@media only screen and (min-width: 500px) {
  #pagewrap{
    display:flex ;
    width:80%;
    margin:15% auto 8% auto;
   flex-direction:column;
    justify-content: center;
    
   }
   .messageShow{
    
    margin: 15% 10% 13% 30%;
    
  }

}

@media only screen and (min-width: 300px) {
  #pagewrap{
    display:flex ;
    width:80%;
    margin:25% auto 8% auto;
   flex-direction:column;
    justify-content: center;
    
   }

   .messageShow{
    
    margin: 25% 10% 13% 30%;
    
  }
}

@media only screen and (min-width: 650px) {
  #pagewrap{
    display:flex ;
    width:80%;
    margin:12% auto 8% auto;
   flex-direction:column;
    justify-content: center;
    
   }

   .messageShow{
    
    
    margin: 12% 10% 13% 30%;
   
  }
}